.main-content {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    overflow: auto;
}

.container .left {
    float: left;
    width: 50%;
    padding: 0 1rem 0 0;
}

.container .right {
    float: right;
    width: 50%;
    padding: 0 0 0 1rem;
}

.input {
    width: 100%;
    min-height: 40rem;
    font-size: 1rem;
}

.output {
    width: 100%;
    min-height: 40rem;
    border: 1px solid #aaa;
    font-size: 1rem;
}

.output.error {
    color: red;
}
